<div class="topbar">
    <div class="header-left">
        <div class="topnav">
            <ul class="nav nav-icons">
                <li *ngFor="let subsystem of subsystemList; index as i" [className]="getCurrentSystem() == i ? 'active' : ''">
                    <a href="javascript:void(0)" (click)="setCurrentSystem(i)" placement="bottom" class="c-primary">
                        <span class="{{subsystem.icon}}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="header-right">
        <ul class="header-menu nav navbar-nav">           
            <!-- BEGIN NOTIFICATION DROPDOWN -->
            <li class="dropdown" id="notifications-header">
                <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="icon-bell"></i>
                    <span class="badge badge-danger badge-header">6</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header clearfix">
                        <p class="pull-left">12 هشدار</p>
                    </li>
                    <li>
                        <ul class="dropdown-menu-list withScroll" data-height="220">
                            <li>
                                <a href="#">
                                    <i class="fa fa-star p-r-10 f-18 c-orange"></i>
                                    متن 1
                                    <span class="dropdown-time">اکنون</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-footer clearfix">
                        <a href="#" class="pull-left">مشاهده همه</a>
                        <a href="#" class="pull-right">
                            <i class="icon-settings"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- END NOTIFICATION DROPDOWN -->
            <!-- BEGIN MESSAGES DROPDOWN -->
            <li class="dropdown" id="messages-header">
                <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="icon-paper-plane"></i>
                    <span class="badge badge-primary badge-header">
                        8
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header clearfix">
                        <p class="pull-left">
                            شما 8 پیغام دارید
                        </p>
                    </li>
                    <li class="dropdown-body">
                        <ul class="dropdown-menu-list withScroll" data-height="220">
                            <li class="clearfix">
                                <span class="pull-left p-r-5">
                                    <img src="../assets/images/avatars/avatar3.png" alt="avatar 3">
                                </span>
                                <div class="clearfix">
                                    <div>
                                        <strong>مجید سویزی</strong>
                                        <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time p-r-5"></span>12 دقیقه قبل
                                        </small>
                                    </div>
                                    <p>متن پیام بلا بلا بلا مباشد</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-footer clearfix">
                        <a href="mailbox.html" class="pull-left">مشاهده همه پیام ها</a>
                        <a href="#" class="pull-right">
                            <i class="icon-settings"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- END MESSAGES DROPDOWN -->
            <!-- BEGIN USER DROPDOWN -->
            <li class="dropdown" id="user-header">
                <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <img src="../assets/images/avatars/user1.png" alt="user image">
                    <span class="username">سلام ، {{username}}</span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a [routerLink]="['/cpanel/profile']"><i class="icon-user"></i><span>پروفایل</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/cpanel/calendare']"><i class="icon-calendar"></i><span>تقویم</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/cpanel/settings']"><i class="icon-settings"></i><span>تنظیمات حساب</span></a>
                    </li>
                    <li>
                        <a (click)="logout()"><i class="icon-logout"></i><span>خروج</span></a>
                    </li>
                </ul>
            </li>
            <!-- END USER DROPDOWN -->
            <!-- CHAT BAR ICON -->
            <li id="quickview-toggle"><a href="javascript:void(0);" (click)="openSidebar()"><i class="icon-bubbles"></i></a></li>
        </ul>
    </div>
    <!-- header-right -->
</div>