<div class="footer">
    <div class="copyright">
        <p class="pull-left sm-pull-reset">            
                <span>کلیه حقوق محفوظ و متعلق به شرکت سپاس رایانه می باشد. </span>
        </p>
        <p class="pull-right sm-pull-reset">
            <span><a [routerLink]="['/cpanel/support']" class="m-r-10">پشتیبانی</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                    href="#" class="m-l-10 m-r-10">شرایط استفاده</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#"
                    class="m-l-10">سیاست حفظ حریم خصوصی</a></span>
        </p>
    </div>
</div>