<div id="morphsearch" class="morphsearch">
    <form class="morphsearch-form">
        <input class="morphsearch-input" type="search" placeholder="جستجو ..." />
        <button class="morphsearch-submit" type="submit">جستجو</button>
    </form>
    <div class="morphsearch-content withScroll">
        <div class="dummy-column user-column">
            <h2>کاربران</h2>
            <a class="dummy-media-object" href="#">
                <img src="../assets/images/avatars/avatar1_big.png" alt="Avatar 1" />
                <h3>مجید سویزی</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img src="../assets/images/avatars/avatar2_big.png" alt="Avatar 2" />
                <h3>مسلم انصاریان</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img src="../assets/images/avatars/avatar3_big.png" alt="Avatar 3" />
                <h3>فاطمه کراواشی</h3>
            </a>          
        </div>
        <div class="dummy-column">
            <h2>اسناد</h2>
            <a class="dummy-media-object" href="#">
                <img src="../assets/images/gallery/1.jpg" alt="1" />
                <h3>مستندات ۱</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img src="../assets/images/gallery/2.jpg" alt="2" />
                <h3>سندهای حسابداری سال 1396</h3>
            </a>          
        </div>
        <div class="dummy-column">
            <h2>رویداد های اخیر</h2>
            <a class="dummy-media-object" href="#">
                <img src="../assets/images/gallery/7.jpg" alt="7" />
                <h3>رویداد ۱</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img src="../assets/images/gallery/8.jpg" alt="8" />
                <h3>رویداد ۲</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img src="../assets/images/gallery/9.jpg" alt="9" />
                <h3>رویداد ۳</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img src="../assets/images/gallery/10.jpg" alt="10" />
                <h3>رویداد ۴</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img src="../assets/images/gallery/11.jpg" alt="11" />
                <h3>رویداد ۵</h3>
            </a>            
        </div>
    </div>
    <!-- /morphsearch-content -->
    <span class="morphsearch-close" (click)="hide()"></span>
</div>