<div class="row">
    <div class="col-md-12 portlets">
        <div class="panel">
            <div class="panel-header panel-controls">
                <h3><i class="fa fa-table"></i>فرمول ها</h3>
                <div class="control-btn">
                    <a (click)="showAddEdit(null)" class=""><i class="fa fa-plus"></i></a>
                </div>
            </div>
            <div class="panel-content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 1%;">#</th>
                            <th>نام</th>
                            <th>عنوان</th>
                            <th>شناسه</th>
                            <th>متن</th>
                            <th>پارامترها</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let formula of list; index as i">
                            <td>{{i + 1}}</td>
                            <td>{{formula.name}}</td>
                            <td>{{formula.title}}</td>
                            <td dir="ltr">{{formula.index}}</td>
                            <td dir="ltr">{{formula.content}}</td>
                            <td dir="ltr">{{formula.parameters}}</td>
                            <td>
                                <a class="edit btn btn-sm btn-primary" (click)="showAddEdit(formula)"><i class="fa fa-edit"></i></a>
                                <a class="edit btn btn-sm btn-danger" (click)="showDelete(formula)"><i class="fa fa-trash-alt"></i></a>
                                <!-- <a class="edit btn btn-sm btn-danger" (click)="execute(formula)"><i class="fa fa-close"></i></a> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">نمایش
                            {{((page - 1)* 10) + 1}} تا
                            {{page * 10 > listCount ? listCount : (page * 10)}} از
                            {{listCount}} ایتم</div>
                    </div>
                    <div class="col-sm-7">
                        <ngb-pagination [collectionSize]="listCount" [(page)]="page" [maxSize]="10" [boundaryLinks]="true"
                            (pageChange)="load()"></ngb-pagination>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<ng-template #addEditModalContent let-close="close">
    <form [formGroup]="addEditForm" (ngSubmit)="onSubmit()">
        <div class="modal-header bg-primary">
            <h5 class="modal-title">{{currentItem.id ? 'ویرایش' : 'ثبت'}}</h5>
            <button type="button" class="close" (click)="close()">
                <i class="icons-office-52"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">نام</label>
                                <div class="append-icon">
                                    <input type="text" class="form-control" [(ngModel)]="currentItem.name"
                                        formControlName="name" [ngClass]="{ 'form-error': f.name.invalid && (f.name.dirty || f.name.touched) }">
                                    <i class="icon-user"></i>
                                </div>
                                <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="invalid-feedback form-error">
                                    <div *ngIf="f.name.errors.required">این فیلد الزامی است</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">عنوان</label>
                                <div class="append-icon">
                                    <input type="text" class="form-control" [(ngModel)]="currentItem.title"
                                        formControlName="title" [ngClass]="{ 'form-error': f.name.invalid && (f.name.dirty || f.name.touched) }">
                                    <i class="icon-user"></i>
                                </div>
                                <div *ngIf="f.title.invalid && (f.title.dirty || f.title.touched)" class="invalid-feedback form-error">
                                    <div *ngIf="f.title.errors.required">این فیلد الزامی است</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">شناسه</label>
                                <div class="append-icon">
                                    <input type="text" class="form-control" [(ngModel)]="currentItem.index" dir="ltr"
                                        formControlName="index" [ngClass]="{ 'form-error': f.name.invalid && (f.name.dirty || f.name.touched) }"
                                        pattern="[a-zA-Z]+[a-zA-Z0-9]*\(([a-zA-Z]+[a-zA-Z0-9]*(\,[a-zA-Z]+[a-zA-Z0-9]*)*)?\)">
                                    <i class="icon-user"></i>
                                </div>
                                <div *ngIf="f.index.invalid && (f.index.dirty || f.index.touched)" class="invalid-feedback form-error">
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">پارامترها</label>
                                <div class="append-icon">
                                    <input type="text" class="form-control" [(ngModel)]="currentItem.parameters" dir="ltr"
                                        formControlName="parameters" [ngClass]="{ 'form-error': f.name.invalid && (f.name.dirty || f.name.touched) }"                                        
                                        pattern="(^$|([a-zA-Z]+[a-zA-Z0-9]*(\,[a-zA-Z]+[a-zA-Z0-9]*)*))">
                                    <i class="icon-user"></i>
                                </div>
                                <div *ngIf="f.parameters.invalid && (f.parameters.dirty || f.parameters.touched)" class="invalid-feedback form-error">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">متن</label>
                                <div class="append-icon">
                                    <textarea rows="5" class="form-control" [(ngModel)]="currentItem.content" dir="ltr"
                                        formControlName="content" [ngClass]="{ 'form-error': f.name.invalid && (f.name.dirty || f.name.touched) }"></textarea>
                                    <i class="icon-user"></i>
                                </div>
                                <div *ngIf="f.content.invalid && (f.content.dirty || f.content.touched)" class="invalid-feedback form-error">
                                    <div *ngIf="f.content.errors.required">این فیلد الزامی است</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">ثبت</button>
            <button type="button" class="btn btn-default" (click)="close()">خروج</button>
        </div>
    </form>
</ng-template>

<ng-template #deleteModalContent let-close="close">
    <form>
        <div class="modal-header bg-primary">
            <h5 class="modal-title">حذف</h5>
            <button type="button" class="close" (click)="close()">
                <i class="icons-office-52"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="row">
                        <div class="col-sm-6">
                            آیا مایل به حذف این فرمول می باشید؟
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger" (click)=delete()>حذف</button>
            <button type="button" class="btn btn-default" (click)="close()">خروج</button>
        </div>
    </form>
</ng-template>