
<div style="position:reletive;">
    <img src="../../../assets/images/bgIcons.png" style="position: absolute;width:100%;height: 100%;">
<div class="container" id="login-block">
    <i class="user-img icons-faces-users-03"></i>
    <div class="account-form">
        <form class="form-signin" role="form">
            <h3><strong>ورود به حساب کاربری</strong></h3>
            <div class="alert media fade in alert-danger" *ngIf="loginFailed == true">
                <p><strong>خطا!</strong> نام کاربری یا گذرواژه اشتباه است</p>
            </div>
            <div class="alert media fade in alert-danger" *ngIf="lockedUser == true">
                <p><strong>خطا!</strong> کاربر غیرفعال است</p>
            </div>
            <div class="append-icon">
                <input type="text" name="name" id="name" [(ngModel)]="username" class="form-control form-white username"
                    placeholder="نام کاربری" required>
                <i class="icon-user"></i>
            </div>
            <div class="append-icon m-b-20">
                <input type="password" name="password" [(ngModel)]="password" class="form-control form-white password"
                    placeholder="گذرواژه" required>
                <i class="icon-lock"></i>
            </div>
            <br />
           
            <br />
            <div class="form-footer">
                <div class="social-btn">
                    <button type="button" class="btn btn-lg btn-block btn-blue btn-square" (click)="login()"><i
                            class="fa fa-lock pull-left"></i>ورود</button>
                </div>
            </div>
        </form>
    </div>
</div></div>