 <div class="row">
  <div class="col-md-12 portlets">
    <div class="panel">
      <div class="panel-header panel-controls">
        <h3><i class="fa fa-table"></i> لکه ها و پیمان ها</h3>
        <div class="control-btn">
          <a (click)="showAddEdit(null)" class=""><i class="fa fa-plus"></i></a>
        </div>
      </div>
      <div class="panel-content">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 1%;">#</th>
              <th>کد</th>
              <th>نام</th>
              <th>مساحت</th>
              <th>منطقه - ناحیه</th>
              <th>نوع لکه</th>
              <th>نوع پیمان</th>
              <th>نوع پوشش گیاهی</th>
              <th>نوع آبیاری</th>
              <th>عملیات</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="list.length > 0">
              <tr *ngFor="let item of list; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ item.code }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.space }}</td>
                <td>{{ item.region.name }}</td>
                <td>{{ item.spotType.name }}</td>
                <td>{{ item.treaty.name }}</td>
                <td>{{ item.vegetationType.name }}</td>
                <td>{{ item.irrigationType.name }}</td>
                <td>
                  <a class="edit btn btn-sm btn-primary" (click)="showAddEdit(item)"><i class="fa fa-edit"></i></a>
                  <a class="edit btn btn-sm btn-danger" (click)="showDelete(item)"><i class="fa fa-close"></i></a>
                </td>
              </tr>
            </ng-container>
            <tr *ngIf="list.length == 0">
              <td colspan="8" style="text-align:center;">
                ایتمی جهت نمایش وجود ندارد.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-5">
            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite"> نمایش 
              {{ (page - 1) * 10 + 1 }} تا
              {{ page * 10 > listCount ? listCount : page * 10 }} از
              {{ listCount }} ایتم
            </div>
          </div>
          <div class="col-sm-7">
            <ngb-pagination
              [collectionSize]="listCount"
              [(page)]="page"
              [maxSize]="10"
              [boundaryLinks]="true"
              (pageChange)="load()"
            ></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 <ng-template #addEditModalContent let-close="close">
        <form [formGroup]="addEditForm" (ngSubmit)="onSubmit()">
          <div class="modal-header bg-primary">
            <h5 class="modal-title">{{ currentItem.id ? "ویرایش" : "ثبت" }}</h5>
            <button type="button" class="close" (click)="close()">
              <i class="icons-office-52"></i>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">نام</label>
                      <div class="append-icon">
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="currentItem.name"
                          formControlName="name"
                          [ngClass]="{
                            'form-error':
                              f.name.invalid && (f.name.dirty || f.name.touched)
                          }"
                        />
                        <i class="icon-user"></i>
                      </div>
                      <div
                        *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
                        class="invalid-feedback form-error"
                      >
                        <div *ngIf="f.name.errors.required">این فیلد الزامی است</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label class="control-label">کد</label>
                      <div class="append-icon">
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="currentItem.code"
                          formControlName="code"
                          [ngClass]="{'form-error': f.code.invalid && (f.code.dirty || f.code.touched)}">
                        <i class="icon-user"></i>
                      </div>
                      <div
                        *ngIf="f.code.invalid && (f.code.dirty || f.code.touched)"
                        class="invalid-feedback form-error"
                      >
                        <div *ngIf="f.code.errors.required">این فیلد الزامی است</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label class="control-label">مساحت</label>
                      <div class="append-icon">
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="currentItem.space"
                          formControlName="space"
                          [ngClass]="{
                            'form-error':
                              f.space.invalid && (f.space.dirty || f.space.touched)
                          }"
                        >
                        <i class="icon-user"></i>
                      </div>
                      <div
                        *ngIf="f.space.invalid && (f.space.dirty || f.space.touched)"
                        class="invalid-feedback form-error"
                      >
                        <div *ngIf="f.space.errors.required">این فیلد الزامی است</div>
                      </div>
                    </div>
                  </div>
                </div>
               
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">منطقه - ناحیه</label>
                      <div class="append-icon">
                        <select
                          class="form-control"
                          formControlName="regionId"
                          [(ngModel)]="currentItem.region.id"
                          [ngClass]="{
                            'form-error':
                              f.regionId.invalid &&
                              (f.regionId.dirty || f.regionId.touched)
                          }"
                        >
                          <option *ngFor="let item of regionList" [ngValue]="item.id">
                            {{ item.name }}
                          </option>
                        </select>
                        <i class="icon-user"></i>
                      </div>
                      <div
                        *ngIf="
                          f.regionId.invalid && (f.regionId.dirty || f.regionId.touched)
                        "
                        class="invalid-feedback form-error"
                      >
                        <div *ngIf="f.regionId.errors.required">
                          این فیلد الزامی است
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">نوع پیمان</label>
                      <div class="append-icon">
                        <select
                          class="form-control"
                          formControlName="treatyId"
                          [(ngModel)]="currentItem.treaty.id"
                          [ngClass]="{
                            'form-error':
                              f.treatyId.invalid && (f.treatyId.dirty || f.treatyId.touched)
                          }"
                        >
                          <option *ngFor="let item of treatyList" [ngValue]="item.id">
                            {{ item.name }}
                          </option>
                        </select>
                        <i class="icon-user"></i>
                      </div>
                      <div
                        *ngIf="
                          f.treatyId.invalid && (f.treatyId.dirty || f.treatyId.touched)
                        "
                        class="invalid-feedback form-error"
                      >
                        <div *ngIf="f.treatyId.errors.required">
                          این فیلد الزامی است
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">نوع لکه فضای سبز</label>
                      <div class="append-icon">
                        <select
                          class="form-control"
                          formControlName="spotTypeId"
                          [(ngModel)]="currentItem.spotType.id"
                          [ngClass]="{
                            'form-error':
                              f.spotTypeId.invalid &&
                              (f.spotTypeId.dirty || f.spotTypeId.touched)
                          }"
                        >
                          <option
                            *ngFor="let item of spotTypeList"
                            [ngValue]="item.id"
                          >
                            {{ item.name }}
                          </option>
                        </select>
                        <i class="icon-user"></i>
                      </div>
                      <div
                        *ngIf="
                          f.spotTypeId.invalid &&
                          (f.spotTypeId.dirty || f.spotTypeId.touched)
                        "
                        class="invalid-feedback form-error"
                      >
                        <div *ngIf="f.spotTypeId.errors.required">
                          این فیلد الزامی است
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">نوع پوشش گیاهی</label>
                      <div class="append-icon">
                        <select
                          class="form-control"
                          formControlName="vegetationTypeId"
                          [(ngModel)]="currentItem.vegetationType.id"
                          [ngClass]="{
                            'form-error':
                              f.vegetationTypeId.invalid &&
                              (f.vegetationTypeId.dirty || f.vegetationTypeId.touched)
                          }"
                        >
                          <option *ngFor="let item of vegetationTypeList" [ngValue]="item.id">
                            {{ item.name }}
                          </option>
                        </select>
                        <i class="icon-user"></i>
                      </div>
                      <div
                        *ngIf="
                          f.vegetationTypeId.invalid && (f.vegetationTypeId.dirty || f.vegetationTypeId.touched)
                        "
                        class="invalid-feedback form-error"
                      >
                        <div *ngIf="f.vegetationTypeId.errors.required">
                          این فیلد الزامی است
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label class="control-label">روش آبیاری</label>
                          <div class="append-icon">
                            <select
                              class="form-control"
                              formControlName="irridationMethodId"
                              [(ngModel)]="currentItem.irridationMethod.id"
                              [ngClass]="{
                                'form-error':
                                  f.irridationMethodId.invalid &&
                                  (f.irridationMethodId.dirty || f.irridationMethodId.touched)
                              }"
                            >
                              <option
                                *ngFor="let item of irridationMethodIdList"
                                [ngValue]="item.id"
                              >
                                {{ item.name }}
                              </option>
                            </select>
                            <i class="icon-user"></i>
                          </div>
                          <div
                            *ngIf="
                              f.irridationMethodId.invalid &&
                              (f.irridationMethodId.dirty || f.irridationMethodId.touched)
                            "
                            class="invalid-feedback form-error"
                          >
                            <div *ngIf="f.irridationMethodId.errors.required">
                              این فیلد الزامی است
                            </div>
                          </div>
                        </div>
                      </div>
          
                      
                    </div>
                
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">ثبت</button>
            <button type="button" class="btn btn-default" (click)="close()">
              خروج
            </button>
          </div>
        </form>
      </ng-template>
      
      <ng-template #deleteModalContent let-close="close">
        <form>
          <div class="modal-header bg-primary">
            <h5 class="modal-title">حذف</h5>
            <button type="button" class="close" (click)="close()">
              <i class="icons-office-52"></i>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-sm-6">
                    <span>آیا مایل به حذف این لکه فضای سبز می باشید؟</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger" (click)="delete()">
              حذف
            </button>
            <button type="button" class="btn btn-default" (click)="close()">
              خروج
            </button>
          </div>
        </form>
      </ng-template> 
      